:root {
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: rgba(64, 63, 61, 0.80);
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --border-dark: #665f55;
  --border-light: #c1b6ad;
  --cell-width: 310px;
  --cell-height: 506px; 
  --cols: 4;
  --rows: 2;
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: auto;
  max-width: 1440px;
  padding: 20px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: var(--background-body);
  
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  font-feature-settings: "clig" off, "liga" off;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
header {
  width: 100%;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.logo {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
.logo img {
  width: 100px;
  height: 60px;
}
nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 40px;
  list-style-type: none;
}
nav ul li:last-child {
  display: none;
}
.header-menu a {
  color: var(--text-dark, #403f3d);
}
.coffee-menu {
  display: flex;
  flex-direction: column;
  height: 28px;
  justify-content: space-between;
  gap: 4px;
  cursor: pointer;
}
.header-menu img {
  vertical-align: top;
}
.menu-line {
  visibility: hidden;
  width: 100%;
  height: 2px;
  background: #403f3d;
  border: 1px solid #403f3d;
  opacity: 0;
  transition: 0.5s;
}
/* HAMBURGER MENU */
.hamburger {
  width: 44px;
  height: 44px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  cursor: pointer;
}
.bar {
  width: 16px;
  height: 2px;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-dark, #403f3d);
}
/* MAIN */
main {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
/* FOOTER */
footer {
  width: 100%;
  padding: 0 40px;
  margin-top: 80px;
}
.footer-container {
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 100px;
  border-radius: 40px;
  background: var(--background-container, #665f55);
  color: var(--text-light, #e1d4c9);
}
.footer-left {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
.footer-left p {
  text-align: left;
}
.footer-left i {
  color: var(--text-accent, #b0907a);
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}
.socials a {
  color: var(--text-light, #e1d4c9);
}
.social-button {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.footer-right {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 40px;
  color: var(--text-light, #e1d4c9);
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-details a {
  width: fit-content;
  color: var(--text-light, #e1d4c9);
}
.contact-item {
  height: 27px;
  box-sizing: border-box;
  width: fit-content;
}
.underline {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  width: 100%;
  border: 1px solid var(--border-light, #e1d4c9);
  background: #e1d4c9;
}
/* 380px, 768px, 1440px */
@media (max-width: 750px) {
  header,
  main,
  footer {
    padding: 0 16px;
  }
  h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 115%;
  }
  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }

  .footer-container {
    padding: 60px 16px;
  }
}
@media (max-width: 768px) {
  br {
    display: none;
  }
  a,
  .social-button,
  .logo {
    cursor: default;
  }
  .coffee-menu {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .hamburger.active .bar:first-child {
    transform: translateY(5px) rotate(45deg);
  }
  .hamburger.active .bar:last-child {
    transform: translateY(-5px) rotate(-45deg);
  }
  nav ul {
    position: fixed;
    right: -100%;
    top: 100px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 40px;
    flex-direction: column;
    gap: 60;
    background: var(--background-body, #e1d4c9);
    text-align: center;
    transition: 0.7s ease;
    justify-content: flex-start;
    z-index: 2;
  }
  nav ul li:last-child {
    display: block;
  }
  #navbar li:last-child {
    margin: 40px auto 100px;
  }
  nav ul.active {
    right: 0px;
  }
}
@media (min-width: 751px) and (max-width: 768px) {
  .footer-container {
    padding: 100px 60px;
  }
}
/* HOVE EFFECTS*/
@media (hover: hover) {
  #navbar li:hover .menu-line {
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
  }
  .coffee-menu:hover .menu-line {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  .social-button:hover {
    background: var(--background-body, #e1d4c9);
    color: #403f3d;
  }
  .contact-item:hover .underline {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
}
