.header {
  margin-top: 20px;
  width: 70vmin;
  /* height: vmin; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vmin;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vmin;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
.title-bar__title {
  color: var(--text-color);
}
.title-bar__theme-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
}
.theme-button__icon {
  width: 40px;
  height: 40px;
}
.theme-button__icon_light {
  display: block;
}
.theme-button__icon_dark {
  display: none;
}
/* end of theme */

/* end of dropdown menu */
.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2vmin;
}
.scoreboard__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.scoreboard__template {
  width: 180px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.8
}
.scoreboard__game-name {
  text-transform: uppercase;
}
.scoreboard__timer-outer {
  opacity: 0.8;
  display: flex;
  align-items: center;
  gap: 10px;
}
.scoreboard__buttons {
  display: flex;
  adjust-content: space-between;
  gap: 2vmin;
}
.scoreboard__buttons button {
  padding: 7px;
  background: var(--bg-color);
  border-radius: 4px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  opacity: 0.7;
  cursor: pointer;
}

/* end of scoreboard */
.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2vmin;
  padding-bottom: 10px;
  /* border-bottom: 1px solid var(--text-color) */
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.menu.active > .link,
.link:hover {
  color: var(--text-color);
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: var(--bg-color);
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 1;
}

.menu.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 2rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dropdown__menu-icon {
  padding: 1px;
  height: 50px;
  with: auto;
  opacity: 0.5;
  border-radius: 2px;
  background: var(--svg-bg)
}
.svg-fill {
  fill: red;
}
.dropdown__menu-icon #path1 {
  fill: red;
  stroke: red;
}

.dropdown__menu-icon:hover {
  opacity: 0.8;
}
@media (max-width: 620px) {
  .scoreboard__info {
    font-size: 14px;
  }
}
@media (hover: hover) {
  .scoreboard__buttons button:hover {
    opacity: 1;
  }
}